<div>
  <app-text-editor
        [initialFormattedText]="formattedText"
        (formattedTextChange)="onFormattedTextChange($event)">
  </app-text-editor>
</div>

<!-- Remaining characters -->
<div>
  Remaining characters: {{ remainingCharacters }} / {{ maxLength }}
</div>

<!-- Expand/Collapse Button with Icons -->
<button (click)="toggleExpandCollapse()">
  <fa-icon [icon]="isExpanded ? faChevronUp : faChevronDown"></fa-icon>
</button>


<!-- Conditionally display content based on expand/collapse state -->
<div *ngIf="isExpanded">
  <div>
    <strong>Markup:</strong>
    <div [innerHTML]="this.formattedText" style="border: 1px solid #ccc; padding: 10px; margin-top: 10px;"></div>
  </div>

  <div>
    <strong>HTML Markup:</strong>
    <div style="border: 1px solid #ccc; padding: 10px; margin-top: 10px;">{{this.formattedText}}</div>
  </div>
</div>



<div class="editor-actions">
  <button (click)="saveContent()">Save</button>
  <button (click)="resetEditor()" *ngIf="editMode">Cancel</button>
</div>

<!-- Saved Content List -->
<!-- Saved Content List -->
<div class="saved-contents">
  <h3>Saved Contents</h3>
  <div *ngFor="let item of savedContents" class="saved-item">

    <div [innerHTML]="sanitizeHtml(item.content)"></div> <!-- Bind directly to item.content -->

    <div class="content-actions">
      <button (click)="editContent(item.id)">Edit</button>
      <button (click)="deleteContent(item.id)">Delete</button>
    </div>
  </div>
</div>
